
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row-fliud">
        <div class="navbar-text cl-icon-padding pull-left">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link cl-text-white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="cl-text-white navbar-brand cl-text-bold" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
            Widgets
        </a>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-link cl-text-white cl-icon-padding">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-repeat="widget in model.widgets">
        <div class="pull-right">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}"  class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <ul ng-switch="widget.type" id="sortable">
            <li ng-switch-when="HEADING">
                <ng-include src="'views/widget/widget-heading.view.client.html'"/>
            </li>
            <li ng-switch-when="IMAGE">
                <ng-include src="'views/widget/widget-image.view.client.html'"/>
            </li>
            <li ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/widget-youtube.view.client.html'"/>
            </li>
        </ul>
    </div>

</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="#/user/{{model.uid}}" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
