
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row-fliud">
        <div class="navbar-text cl-icon-padding pull-left">
            <a href="/user/:uid/website/:wid/page" class="navbar-link cl-text-white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <a class="cl-text-white navbar-brand cl-text-bold" href="/user/:uid/website/:wid/page/:pid/widget">
            Widgets
        </a>
        <div class="navbar-text pull-right">
            <a href="/user/:uid/website/:wid/page/:pid/widget/new" class="navbar-link cl-text-white cl-icon-padding">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="#/widget-heading"  class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <h3>Londoner: 'We are used to this unfortunately'</h3>
    </div>
    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="#/widget-image"  class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <img class="img-responsive img-rounded cl-widget-images"
             src="http://i2.cdn.cnn.com/cnnnext/dam/assets/170604104611-02-theresa-may-downing-st-0604-exlarge-169.jpg">
    </div>
    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="#/widget-heading"  class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <h3>12 people arrested in East London after terror attack</h3>
    </div>

    <div>
        <div class="pull-right">
            <a href="#" class="pull-right">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a href="#/widget-youtube"  class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="854" height="480" src="https://www.youtube.com/embed/t_Xv6i1ARdE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fuild">
        <a href="/user/:uid" class="navbar-link navbar-text pull-right cl-text-white cl-icon-padding">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
